@import "tailwindcss";

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;
  --text: #333333;
  --text2: #ffffff;

  /* Brand colors */
  --primary: #1e40af;    /* azul oscuro */
  --secondary: #9333ea;  /* púrpura vivo */
  --highlight: #b97706;  /* naranja brillante */

  /* Extras */
  --accent: #10b981;     /* verde */
  --muted: #6b7280;      /* gris medio */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
